/*
	Dark theme for Sault
*/

html {
	background-color: #141415;
}

body {
	color: #727f88;
}

h1,
h2,
h3,
h4,
h5 {
	color: #fff;
}

h6 {
	color: #acb6bd;
}

blockquote {
	background-color: #000;
	color: #fff;
}

blockquote:before {
	color: #141415;
}

pre,
code {
	background-color: #fafafa;
	background-color: rgba(0, 0, 0, .02);
}

table th,
table tbody td,
table tbody + tbody,
table tfoot td {
	border-color: #727f88;
}

hr,
.widget-title:after {
	background-color: #00ffff;
}

a {
	color: #00ffff;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=range],
input[type=tel],
input[type=url],
textarea,
select {
	border-color: #242424;
	color: #fff;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=number]:focus,
input[type=range]:focus,
input[type=tel]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
	border-color: #727f88;
}

input[type=text]:focus:invalid,
input[type=password]:focus:invalid,
input[type=email]:focus:invalid,
input[type=search]:focus:invalid,
input[type=date]:focus:invalid,
input[type=month]:focus:invalid,
input[type=time]:focus:invalid,
input[type=datetime]:focus:invalid,
input[type=datetime-local]:focus:invalid,
input[type=number]:focus:invalid,
input[type=range]:focus:invalid,
input[type=tel]:focus:invalid,
input[type=url]:focus:invalid,
textarea:focus:invalid {
	border-color: #ff3c1f;
}

select {
	background-color: #141415;
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzN3B4IiBoZWlnaHQ9IjVweCIgdmlld0JveD0iMCAwIDM3IDUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM3IDUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0yMC4yMzMzMzM1ODc2NDY0ODQsNSBMMTYuNzMzMzMzNTg3NjQ2NDg0LDAgaDcgTDIwLjIzMzMzMzU4NzY0NjQ4NCw1IHoiIHN0eWxlPSJmaWxsOiNmZmZmZmYiLz48L3N2Zz4=);
}

select > option {
	background-color: #141415;
}

::-webkit-input-placeholder {
	color: #acb6bd;
}

::-moz-placeholder {
	color: #acb6bd;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #acb6bd;
}

button,
input[type=submit],
input[type=reset],
input[type=button],
.button {
	background-color: #00ffff;
	color: #000;
	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
}

button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=button]:hover,
input[type=button]:focus,
.button:hover,
.button:focus {
	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 255, 255, .2);
	        box-shadow: 0 20px 40px 0 rgba(0, 255, 255, .2);
}

button:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active,
.button:active {
	-webkit-box-shadow: 0 10px 40px 0 rgba(0, 255, 255, .3);
	        box-shadow: 0 10px 40px 0 rgba(0, 255, 255, .3);
}

button.white,
input[type=submit].white,
input[type=reset].white,
input[type=button].white,
.button.white {
	background-color: #fff;
	color: #000;
	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
}

button.gray,
input[type=submit].gray,
input[type=reset].gray,
input[type=button].gray,
.button.gray {
	color: #000;
}

button.dark,
input[type=submit].dark,
input[type=reset].dark,
input[type=button].dark,
.button.dark {
	color: #00ffff;
	background-color: #000;
	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
}

button.white:hover,
button.white:focus,
button.gray:hover,
button.gray:focus,
button.dark:hover,
button.dark:focus,
input[type=submit].white:hover,
input[type=submit].white:focus,
input[type=submit].gray:hover,
input[type=submit].gray:focus,
input[type=submit].dark:hover,
input[type=submit].dark:focus,
input[type=reset].white:hover,
input[type=reset].white:focus,
input[type=reset].gray:hover,
input[type=reset].gray:focus,
input[type=reset].dark:hover,
input[type=reset].dark:focus,
input[type=button].white:hover,
input[type=button].white:focus,
input[type=button].gray:hover,
input[type=button].gray:focus,
input[type=button].dark:hover,
input[type=button].dark:focus,
.button.white:hover,
.button.white:focus,
.button.gray:hover,
.button.gray:focus,
.button.dark:hover,
.button.dark:focus {
	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .2);
	        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .2);
}

button.white:active,
button.gray:active,
button.dark:active,
input[type=submit].white:active,
input[type=submit].gray:active,
input[type=submit].dark:active,
input[type=reset].white:active,
input[type=reset].gray:active,
input[type=reset].dark:active,
input[type=button].white:active,
input[type=button].gray:active,
input[type=button].dark:active,
.button.white:active,
.button.gray:active,
.button.dark:active {
	-webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .3);
	        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .3);
}

.gradient-text-clip {
	color: #417dea;
	background: -webkit-gradient(linear, right top, left top, from(#00ffff), to(#417dea));
	background: -webkit-linear-gradient(right, #00ffff, #417dea);
	background: linear-gradient(-90deg, #00ffff, #417dea);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.ul-custom-bullet i {
	color: #00ffff;
}

.social-link {
	color: #727f88;
}

.pagination > span,
.pagination > a {
	color: #727f88;
}

.pagination a:hover {
	background-color: rgba(0,0,0,.2);
}

.pagination > span,
.pagination > .current {
	color: #000;
	background-color: #00ffff;
}

.pagination .prev,
.pagination .next {
	color: #fff;
	background-color: #000;
	-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
}

.pagination .prev:hover,
.pagination .next:hover {
	background-color: #000;
	-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .2);
	        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .2);
}

.tab-links li a {
	color: #727f88;
}

.tab-links li a.active {
	color: #00ffff;
}

.dark-box {
	background-color: #242424;
	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
}

.grey-box {
	background-color: #242424;
}

.grey-box .overlay {
	background-color: #000;
	background-color: rgba(0, 0, 0, .9);
}

.text-color {
	color: #00ffff;
}

.tweet {
	color: #727f88;
}

.tweet:before {
	color: #55acee;
}

.owl-carousel .owl-nav > div {
	color: #fff;
	background-color: #000;
	-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
}

.owl-carousel .owl-nav > .disabled {
	color: #727f88;
}

.owl-carousel .owl-nav > div:hover {
	-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .2);
	        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .2);
}

.owl-carousel .owl-dots .owl-dot span {
	background-color: #fff;
}

.owl-carousel .owl-dots .owl-dot.active span {
	background-color: #654ce8;
}

#top {
	background-color: #141415;
}

.site-title h1 a,
#site-menu a {
	color: #fff;
}

#site-menu .current-menu-item > a {
	color: #00ffff;
}

#site-menu .menu-item-search input[type="search"] {
	border-color: #242424;
}

#site-menu .menu-item-search input[type="submit"] {
	color: #727f88;
}

#content.dark-background {
	background-color: #141415;
}

.blog-listing .post-details {
	background-color: #000;
}

.blog-listing .post-details .author-link {
	color: #727f88;
}

.blog-listing .post.featured .post-details {
	background-color: #000;
	background-color: rgba(0 ,0 ,0 , .9);
}

.single .tags a {
	color: #fff;
	background-color: #242424;
}

.single .post-footer h5 {
	color: #727f88;
}

.single .post-footer .sep {
	background-color: #242424;
}

.single .other-posts .thumb a {
	color: #242424;
}

.single .other-posts .thumb .info {
	background-color: #242424;
	color: #fff;
}

.team-member .social-links a {
	color: #00ffff;
}

.brand-item {
	background-color: transparent;
}

.brand-item .text {
	color: #727f88;
}

.brand-item .text > :first-child {
	color: #fff;
}

.project-thumb > a:before {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, .7)), to(rgba(0, 0, 0, .9)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 75%, rgba(0, 0, 0, .9) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 75%, rgba(0, 0, 0, .9) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 75%, rgba(0, 0, 0, .9) 100%);
}

.project-thumb .project-thumb-details .title {
	color: #fff;
}

.project-thumb a > i {
	color: #00ffff;
}

.project-property h5 {
	color: #acb6bd;
}

.project-property .tags a {
	color: #fff;
	background-color: #242424;
}

#address-selector .change-address {
	color: #00ffff;
}

#address-selector .change-address .address-list {
	background-color: #000;
	-webkit-box-shadow: 0 20px 40px 0 rgba(139, 153, 163, .1);
	        box-shadow: 0 20px 40px 0 rgba(139, 153, 163, .1);
}

#address-selector .change-address .address-list .address-code {
	color: #fff;
}

#address-selector .bottom-button {
	background-color: #000;
	background-color: rgba(0, 0, 0, .9);
}

.widget li a {
	color: #727f88;
}

.widget li a:hover,
.widget .current-cat > a {
	color: #00ffff;
}

.searchform input[type="search"] {
	border-color: #727f88;
}

.searchform input[type="submit"] {
	color: #727f88;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

#footer .widget_nav_menu ul li a {
	color: #fff;
}

@media (max-width: 767px) {
	#top .site-menu-toggle {
		color: #727f88;
	}

	#site-menu li {
		border-top: 1px solid #242424;
	}

	#site-menu .current-menu-item > a {
		background-color: #242424;
	}

	#site-menu .menu-item-has-children .menu-expand {
		color: #727f88;
	}
}

@media (min-width: 768px) {
	#site-menu a {
		color: #fff;
	}

	#site-menu .menu-item-has-children ul {
		background-color: #000;
		-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
		        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
	}

	#site-menu .menu-item-has-children li {
		background-color: #000;
	}

	#site-menu .menu-item-search form {
		background-color: #000;
		-webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, .8);
		        box-shadow: 0 0 10px 10px rgba(0, 0, 0, .8);
	}

	.text-box,
	.brand-item {
		-webkit-transition: .3s box-shadow, .3s background-color;
		-o-transition: .3s box-shadow, .3s background-color;
		transition: .3s box-shadow, .3s background-color;
	}

	.text-box:hover,
	.brand-item:hover,
	.brand-item:focus {
		background-color: #000;
		-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
		        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
	}

	.project-thumb > a:hover,
	.project-thumb > a:focus {
		-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
		        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
	}

	.project-thumb > a:before {
		background: #000;
	}

	.project-thumb.welcome-message {
		background-color: #242424;
	}

	.project-thumb.welcome-message .inner {
		background-color: #000;
	}

	.blog-listing .grid .post:hover .post-details {
		background-color: #000;
		-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
		        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
	}

	.blog-listing .grid .post:hover .feature-image-link {
		-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
		        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
	}

	.single .post {
		background-color: #000;
		-webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
		        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
	}

	.single .other-posts .thumb a {
		background-color: #000;
	}

	.single .other-posts .thumb .info {
		background-color: transparent;
	}

	.single .other-posts .thumb a:hover {
		-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
		        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
	}

	.single .other-posts .thumb .overlay {
		background-color: #000;
	}
}

@media (min-width: 992px) {
	.team-member:hover {
		-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, .1);
		        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, .1);
	}

	.team-member:before {
		background-color: #000;
	}

	.single .other-posts .thumb .info i {
		color: #00ffff;
	}
}
